.page{
    display: flex;
}
.logo{
    height: 5rem;
    width: 68rem;
    background-color: rgba(255, 255, 255, 0.879);
    position: fixed;
}
.logo img{
    height: 5rem;
    width: 25rem;
    border-radius: 0 2rem 2rem 0;
}
.car{
    height: 40rem;
    width: 68rem;
}
.car img{
        height: 40rem;
        width: 68rem;
        margin-top: 1rem;

}
.lower{
    height:5rem;
    width: 68rem;
    display: flex;
    background-color: rgba(98, 96, 96, 0.075);
}
.price{
    height: 3rem;
    width: 35rem;
    display: flex;
    background-color: rgba(21, 20, 20, 0.107);
    border-radius: 2rem 2rem 0 0;
    margin-top: 1rem;
    margin-left: 15rem;
    justify-content: center;
    padding-top: 1rem;
}
.price a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.696);
    font-size: 12px;
    
    
}
.sec1{
    margin-right: 2rem;
    margin-left: 1.5rem;
}
.msg{
    font-size: xx-large;
    margin-top: 2rem;
    margin-left: 3rem;
}
.section2{
    height: 45rem;
    width: 30rem;
    background-color: rgba(255, 0, 0, 0.019);
}
.p1{
    margin-left: 20rem;
}
.p1 button{
    height: 2rem;
    width: 5rem;
}
.p2{
    margin-left: 9rem;
}
.p3{
    margin-left: 6rem;
}
.p4{
    display: flex;
}
.s1{
    display: flex;
    flex-direction: column;
    margin-left: 2.4rem;
}
.info2{
    margin-top: -2rem;
}
.p5{
    margin-left: 4rem;
}
.p52{
    margin-left: 5rem;
}
.p7{
    margin-left: 2rem;
}
